<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Basic 1</title>
	<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
	<script src="../node_modules/angular/angular.min.js"></script>
	<script src="main.js"></script>
</head>
<body>
	<div class="row">
  		<div class="col-md-12">
			<h2>Primeri uporabe Template engina</h2>
  		</div>
		<div ng-controller="Templates as test"> 
	  		<div class="col-md-4">
	  			<h3>Izpis uporabnikov</h3>
				<b>Končno število uporabnikov - {{test.users.length}}</b>
				<ul ng-show="!showMenu">
					<li ng-repeat="user in test.users" ng-click="test.delete(user, $index)">
						{{user.name}}
					</li>
				</ul>
	  		</div>
	  		<div class="col-md-4">
				<h3>Dodaj uporabnika:</h3>
				<input class="form-control" type="text" ng-model="test.user">
				<button class="btn btn-default" ng-click="test.createNewUser(test.user)"> Create</button>
	  		</div>
	  		<div class="col-md-4">
				<h3>Skrij uporabnika</h3>
				<a href="" ng-click="showMenu = !showMenu">Toggle menu!</a>
	  		</div>

			<hr>
		</div>
	</div>	

	<hr>


</body>
</html>