<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Basic 1</title>
	<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
	<script src="../node_modules/angular/angular.min.js"></script>
	<script src="main.js"></script>
	<style>
		.done-true{
			text-decoration: line-through;
			color:gray;
		}
	</style>
</head>
<body>

	<div ng-controller="Theme"> 
		<h1>{{name}}</h1>
	</div>
	<hr>
 	<input class="form-control" type="text" ng-model="yourName" placeholder="Enter a name here">
    <hr>
    <h1>Hello {{yourName}}!</h1>


	<div ng-controller="TodoController">
		<span>{{remaining()}} of {{todos.length}} remaining</span>
		<ul class="unstyled">
			<li ng-repeat="todo in todos">
				<input type="checkbox" ng-model="todo.done">
				<span class="done-{{todo.done}}">{{todo.text}}</span>
			</li>
		</ul>
	</div>
	
</body>
</html>